body {
  margin: 0px;
  background-color: #373636;
}
.menu{
  color:white;
  flex:1;
  text-align: center;
  width:10%;
  border: 1px solid;
  margin: 1%;
  font-size: 30px;
  font-family:sans-serif;
  text-decoration: none;
  padding: 5px;
}
nav a:hover{
  color: black;
  background-color: white;
}
nav {
  display: flex;
  flex:1;
padding: 20px;
}
#skill {
  display: flex;
  flex: 1;
  text-align: center;
}
.softskill {
  flex:1;
  font-family: fantasy;
  color: white;

}
.hardskill {
  flex:1;
  font-family: fantasy;
  color: white;
}
